# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
venv/
.env

# Vector Database
vectorstore/

# Uploaded PDFs
uploaded_docs/

# Registry
document_registry.json

# React
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db